.tct{
    flex: .4;
    display: flex;
    padding: 20px;
    flex-direction: column;
    margin: 0 auto;
}

.box-details{
    padding: 10px;
    border-radius: 7px;
    overflow: auto;
    border: 1px solid rgba(255, 255, 255, .1);
    margin: 15px 0;
    max-width: 120px;
}
.tct-img{
    height: 170px;
}

.primary{
    margin: 15px 0;
    background: #0090ff10;
    /* max-width: 120px; */
    padding: 10px 20px;
    /* text-align: center; */
    color: #0090ff;
    font-weight: 700;
    /* border-radius: 20px; */
}

.tct-details{
    margin: 0 auto;
    width: 80%;
}